/* homepage.html Styles */
#homepage {
    background-image: url("./img/Jeopardy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#homepage body {
    min-height: 100%;
}

.links {
    text-align:center;
    margin-top: 20%;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    margin-left: 40%;
    margin-right:40%;
    padding-top: 10px;
    padding-bottom:20px;
}
.links a {
    border-style: solid;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 15px;
    color: white;
    background-color: blue;
}

.login{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* login.html Styles */
.login_header{
	text-align: center;
	margin-top: 10%;
}
.login_fields {
	text-align: center;
	margin-top: 0;
}

#account {
    background-color: blue;
}

.user {
	margin-bottom: 15px;
}
.pass {
	margin-bottom: 15px;
}

/* signup.html Styles */
.signup_header{
	text-align: center;
	margin-top: 10%;
}
.signup_fields {
	text-align: center;
	margin-top: 0;
}

input [type=text] {
	margin: auto;
	text-align: center;
	transform: translate(-50%, -50%);
}

/* mainBoard.php Styles */
#mainboard {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.scoreboard {
    color: #feca5d;
    font-family: sans-serif;
    height: 8%;
}
.scoreboard table {
    text-align: center;
    border: 2.5px solid #feca5d;
    border-collapse: collapse;
    margin: 0 auto;
}
.scoreboard td {
    font-size: 20px;
}
.scoreboard td:last-child {
    border-right: none;
}
.scoreboard th {
    font-size: 22px;
}
.scoreboard th:last-child {
    border-right: none;
}
.scoreboard td, th {
    border-right: 2.5px solid #feca5d;
    padding: 0;
}

.gameboard {
    height: 92vh;
    width: 100%;
}
.gameboard table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
.gameboard th { /* Categories */
    background-color: #1201ff;
    color: white;
    border: 5px solid black;
    font-family: sans-serif;
    font-size: 140%;
    height: 10%;
    width: 20%;
}
.gameboard td { /* Money Values */
    padding: 0.5vh;
    height: 16vh;
    width: 4%;
}
.gameboard td:hover {
    background-color: #feca5d;
}
.gameboard td img {
    display: block;
    height: 100%;
    width: 100%;
}