/* mainBoard.php Styles */
#mainboard {
    background-color: #1201ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#victory {
    background-color: #1201ff;
    color: #feca5d;
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
#victory .choices {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    align-items: center;
}
#victory .choices a {
    display:inline-block;
    margin: 1vh 1vw;
    border-radius: 50%;
    color: #1201ff;
    background-color: #feca5d;
    font-family: sans-serif;
    font-size: 40px;
    padding: 20px;
}

.turn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #feca5d;
    font-size: 21px;
    font-family: sans-serif;
}

.scoreboard {
    color: #feca5d;
    font-family: sans-serif;
    height: 8%;
}
.scoreboard table {
    text-align: center;
    border: 2.5px solid #feca5d;
    border-collapse: collapse;
    margin: 0 auto;
}
.scoreboard td {
    font-size: 20px;
}
.scoreboard td:last-child {
    border-right: none;
}
.scoreboard th {
    font-size: 22px;
}
.scoreboard th:last-child {
    border-right: none;
}
.scoreboard td, th {
    border-right: 2.5px solid #feca5d;
    padding: 0;
}

.gameboard {
    height: 92vh;
    width: 100%;
    background-color: black;
}
.gameboard table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
.gameboard th { /* Categories */
    background-color: #1201ff;
    color: white;
    border: 5px solid black;
    font-family: sans-serif;
    font-size: 140%;
    height: 10%;
    width: 20%;
}
.gameboard td { /* Money Values */
    padding: 0.5vh;
    height: 16vh;
    width: 4%;
}
.gameboard td:hover {
    background-color: #feca5d;
}
.gameboard td img {
    display: block;
    height: 100%;
    width: 100%;
}

/* questions.php Styles */
#questions {
    background-color: #1201ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}
#questions .qna {
    color: white;
    font-family: sans-serif;
    font-size: 44px;
    max-width: 35%;
    text-align: center;
}
#questions .validation {
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}
.validation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.validation p {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.validation a {
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}
.validation a img {
    width: 10vw;
    height: 13.5vh;
}

.reveal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 20vw;
    height: 15vh;
    background-color: darkblue;
    color: #feca5d;
    border-radius: 50%;
}
.reveal a {
    color: #feca5d;
    font-family: sans-serif;
    font-size: 40px;
}
