html {
    min-height: 100%;
}

#homepage {
    background-image: url("./img/Jeopardy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.links {
    text-align:center;
    margin-top: 20%;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    margin-left: 40%;
    margin-right:40%;
    padding-top: 10px;
    padding-bottom:20px;
}
.links a {
    border-style: solid;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 15px;
    color: white;
    background-color: blue;
}

.login{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.login_header{
	text-align: center;
	margin-top: 10%;
}
.login_fields {
	text-align: center;
	margin-top: 0;
}

#account {
    background-color: blue;
}

.user {
	margin-bottom: 15px;
}
.pass {
	margin-bottom: 15px;
}

.signup_header{
	text-align: center;
	margin-top: 10%;
}
.signup_fields {
	text-align: center;
	margin-top: 0;
}

input [type=text] {
	margin: auto;
	text-align: center;
	transform: translate(-50%, -50%);
}

#mainboard {
    background-color: black;
}
#mainboard table {
    width: 100%;
    border-collapse: collapse;
    border-color: black;
}
#mainboard th {
    background-color: blue;
    color: white;
    font-family: sans-serif;;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}
#mainboard td {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
#mainboard td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
#mainboard td:hover {
    background-color: #feca5d;
}
#mainboard p {
    color: white;
}
